.App {
	margin: 4%;
}
.grid-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
div h1 {
	text-align: center;
	font-size: 3.5rem;
	margin-bottom: 3%;
}
div p{
	font-size: 1.1rem;
	
}
.grid-box {
	display: grid;
	grid-template-columns: repeat(50, 15px);
	border: 5px solid grey;
	margin-top:.8%;
}
.cells {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.drop-down{
	display:flex;
	margin-bottom: 1.5%;
	flex-direction: row-reverse;
}
.button{
	width: 60px;
	border-radius: 10%;
}